body {
    color:rgb(73, 69, 69);
    background-color: rgb(247, 247, 247);
}
.div1 {
   border: 1px solid whitesmoke;
   width: 860px;
   height: auto; 
   border-radius: 10px;
   background-color:beige;
   margin-top: 10px;
   margin-left: 0;
}

.div2 {
    width:100%;
}

.div0 {
    margin-left: 70px;
    margin-right: 50px;
}

h3, h4, h5, a {
    color:rgb(112, 110, 110);
    text-decoration: none;

}

img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
            
    
}

div3 {
    display: flex;
}

.p {
    line-height:50px;
}

.flotte {
    float: left;
}

#div1 {
    margin:;
    margin-top: 0;
    position: relative;
    margin-bottom: auto;
}

h3 {
    text-decoration: none;
}

a {
    text-decoration: none;
    color:rgb(112, 110, 110);
    
}

Button {
    color: whitesmoke;
    text-align: center
}


footer {
    background-color: rgb(221, 228, 228);
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    height: 50px;
    color: white;
}

p {
    color:rgb(57, 58, 58);
}